.vcenter {
  padding-top:200px
}
th.mat-header-cell:first-of-type{
  padding-right: 24px;
}
td.mat-cell:first-of-type{
  padding-right: 24px;
}
.mat-select {
  width: fit-content !important;
  min-width: 100%;
}

::ng-deep .mat-form-field-infix {
  min-width: 75px !important;
  width: fit-content !important;
}

::ng-deep mat-select .mat-select-value {
  width: fit-content;
  min-width: 2ch;
  max-width: 50ch;
}
::ng-deep mat-select .mat-select-placeholder {
  width: fit-content;
  min-width: 10ch;
}
.md-dialog-container {
  background-color: #000;
  width: 250px;
  height: 250px
}
