<h2 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle *ngIf="isNew">{{'add_subject'|translate}}</h2>
<h2 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle *ngIf="!isNew">{{'modify_subject'|translate}}</h2>
<div layout="row" layout-align="center start">
  <form (ngSubmit)="save()" [formGroup]="form">
  <mat-dialog-content >
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <label>{{'code'|translate}}
            <mat-select formControlName="codeControl"  required>
              <mat-option *ngFor="let co of codes" [value]="co.code_id">
                {{co.Cod_Gea}} - {{co.abbr_code}} ({{co.name}})
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('codeControl').hasError('required')">{{'select_code_error' | translate}}</mat-error>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>{{'name'|translate}}
            <input matInput #nameField formControlName="name" [maxLength]="75">
            <mat-error *ngIf="form.get('name').hasError('required')">{{'error_required' | translate}}</mat-error>
            <mat-error *ngIf="form.get('name').hasError('maxLength')">{{'error_max_length' | translate}}</mat-error>
          </label>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <label>{{'edition'|translate}}
            <mat-select formControlName="editionControl" [value]="subject.edition" required>
              <mat-option *ngFor="let ed of editions" [value]="ed.edition">
                {{ed.edition}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('editionControl').hasError('required')">{{'select_edition_error' | translate}}</mat-error>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>{{'period'|translate}}
            <mat-select  formControlName="periodControl" [value]="subject.period" required>
              <mat-option *ngFor="let period of periods" [value]="period">
                {{period}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('periodControl').hasError('required')">{{'select_period_error' | translate}}</mat-error>
          </label>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <!--team table-->
      <div class="col-5">
        <h3>{{'prof_assoc'|translate}}</h3>
        <mat-form-field>
          <input matInput (keyup)="palApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
        </mat-form-field>
        <table mat-table #palTable #palTableSort="matSort" [dataSource]="palDataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? palMasterToggle() : null"
                            [checked]="palSelection.hasValue() && palIsAllSelected()"
                            [indeterminate]="palSelection.hasValue() && !palIsAllSelected()"
                            [aria-label]="palCheckboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? palSelection.toggle(row) : null"
                            [checked]="palSelection.isSelected(row)"
                            [aria-label]="palCheckboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="user_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
          </ng-container>

          <!-- Surnames Column -->
          <ng-container matColumnDef="surnames">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'surnames'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'email'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator #palPaginator [pageSizeOptions]="[5, 10]" hidePageSize></mat-paginator>
      </div>
      <div class="col-1 vcenter">
        <button mat-fab aria-label="arrow-right-thick" color="accent" title="{{'remove_prof' | translate}}" class="button-margin" (click)="toProfessorsList($event)" [disabled]="!palSelection.selected.length">
          <mat-icon svgIcon="arrow-right-thick" class="no-padding-img"></mat-icon>
        </button>
        <button mat-fab aria-label="arrow-left-thick" color="accent" title="{{'add_prof' | translate}}" class="button-margin" (click)="toProfAssoc($event)" [disabled]="!prlSelection.selected.length">
          <mat-icon svgIcon="arrow-left-thick" class="no-padding-img"></mat-icon>
        </button>
      </div>
      <!--Users table-->
      <div class="col-6">
        <h3>{{'professors'|translate}}</h3>
        <mat-form-field>
          <input matInput (keyup)="prlApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
        </mat-form-field>
        <table mat-table #prlTable #prlTableSort="matSort" [dataSource]="prlDataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? prlSelection.toggle(row) : null"
                            [checked]="prlSelection.isSelected(row)"
                            [aria-label]="prlCheckboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="user_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
          </ng-container>

          <!-- Surnames Column -->
          <ng-container matColumnDef="surnames">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'surnames'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'email'|translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator #prlPaginator [pageSizeOptions]="[5, 10]" hidePageSize></mat-paginator>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary" [disabled]="!saveActive">{{'save'|translate}}</button>
    <span class="mat-spacer"></span>
    <button class="mat-raised-button" (click)="close()" >{{'close'|translate}}</button>
  </mat-dialog-actions>
  </form>
</div>
