<h4>{{'new_student_header'|translate}}</h4>
<mat-dialog-content >
    <form [formGroup]="userForm" novalidate>
        <mat-form-field>
            <label>
                <input type="text" matInput #name placeholder="{{'name'|translate}}" formControlName="name">
                <div *ngIf="submitted && userForm.get('name').errors">
                    <mat-error *ngIf="userForm.get('name').hasError('required')">{{'error_required' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input type="text" matInput #surnames placeholder="{{'surnames'|translate}}" formControlName="surnames">
                <div *ngIf="submitted && userForm.get('surnames').errors">
                    <mat-error *ngIf="userForm.get('surnames').hasError('required')">{{'error_required' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input type="email" matInput #email placeholder="{{'email'|translate}}" formControlName="email">
                <div *ngIf="submitted && userForm.get('email').errors">
                    <mat-error *ngIf="userForm.get('email').hasError('validMail')">{{'error_email_unique' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('email').hasError('required')">{{'error_required' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('email').hasError('email')">{{'error_email' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input type="text" matInput #username placeholder="{{'user'|translate}}"  formControlName="username">
                <div *ngIf="submitted && userForm.get('username').errors">
                    <mat-error *ngIf="userForm.get('username').hasError('required')">{{'error_required' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('minLength')">{{'error_min_length_username' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('username').hasError('validUsername')">{{'error_username_unique' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input type="password" matInput #password placeholder="{{'password'|translate}}" onCopy="return false" onPaste="return false" formControlName="password">
                <div *ngIf="submitted && userForm.get('password').errors">
                    <mat-error *ngIf="userForm.get('password').hasError('required')">{{'error_required' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('password').hasError('minLength')">{{'error_min_length_pwd' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('password').hasError('pattern')">{{'error_pattern_pwd' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input type="password" matInput #confirmPassword placeholder="{{'confirmPassword'|translate}}"  onCopy="return false" onPaste="return false" formControlName="confirmPassword">
                <div *ngIf="submitted && userForm.get('confirmPassword').errors">
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('required')">{{'error_required' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('minLength')">{{'error_min_length_pwd' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('pattern')">{{'error_pattern_pwd' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('mustMatch')">{{'error_mustMatch_pwd' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="send()">{{'save'|translate}}</button>
    <span fxFlex></span>
    <button class="mat-raised-button" (click)="close()" >{{'close'|translate}}</button>
</mat-dialog-actions>
