<nav id="navBar">
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/secure" [queryParams]="userStudent" queryParamsHandling="merge">Entrar Alumno</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/secure" [queryParams]="userTeacher" queryParamsHandling="merge">Entrar profesor</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
  </ul>
</nav>
