<h2 cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle>{{'upload_submission'|translate}}</h2>
<div layout="row" layout-align="center start">
    <mat-dialog-content>
        <input type="file" name="subFile" ng2FileSelect [uploader]="uploader" accept="application/zip" />
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">{{'cancel'|translate}}</button>
        <span class="mat-spacer"></span>
        <button class="mat-raised-button mat-primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">{{'upload_button'|translate}}</button>
    </mat-dialog-actions>
</div>
