<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button (click)="snav.toggle()" [hidden]="!smallScreen"><mat-icon>menu</mat-icon></button>
        <img src="../../assets/images/Logo_sc.png" alt="Scipio" class="layout-fill-height "/>
        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" title="{{'language'|translate}}"><mat-icon svgIcon="earth" class="no-padding-img big-icon"></mat-icon></button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item [ngClass]="{'langActive': langSelected=='es'}" (click)="changeLang('es')" title="{{'lang_es'|translate}}"><mat-icon svgIcon="es" class="no-padding-img"></mat-icon><span>{{'lang_es'|translate}}</span></button>
        <button mat-menu-item [ngClass]="{'langActive': langSelected=='en'}" (click)="changeLang('en')" title="{{'lang_en'|translate}}"><mat-icon svgIcon="gb" class="no-padding-img"></mat-icon><span>{{'lang_en'|translate}}</span></button>
    </mat-menu>
    <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 48 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="48" [opened]="!smallScreen">
            <mat-toolbar color="accent" id="userInfo">
                <img id="userPhoto" [src]=userImage [alt]="params.user_name" class="layout-fill-height user-img">
                <span class="mat-headline">{{params.user_name}}</span>
                <span class="mat-spacer"></span>
                <button mat-mini-fab aria-label="logout" color="primary" title="{{'logout'|translate}}" (click)="logout()"><mat-icon class="no-padding-img">logout</mat-icon></button>
            </mat-toolbar>
            <mat-nav-list *ngIf="userType!=='ADMIN'">
                <a mat-list-item routerLink="/subjects" [queryParams]="{}" queryParamsHandling="merge" routerLinkActive="active-link">{{'subjects_bar'|translate}}</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="/assignments" [queryParams]="params" queryParamsHandling="merge" routerLinkActive="active-link">{{'assignments_bar'|translate}}</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="/profile" [queryParams]="params" queryParamsHandling="merge" routerLinkActive="active-link">{{'profile_bar'|translate}}</a>
                <mat-divider></mat-divider>
            </mat-nav-list>
            <mat-nav-list *ngIf="userType==='ADMIN'">
                <a mat-list-item routerLink="/admin/users" [queryParams]="" queryParamsHandling="merge" routerLinkActive="active-link">{{'admin_users_bar'|translate}}</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="/admin/subjects" [queryParams]="" queryParamsHandling="merge" routerLinkActive="active-link">{{'admin_subjects_bar'|translate}}</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="/profile" [queryParams]="params" queryParamsHandling="merge" routerLinkActive="active-link">{{'profile_bar'|translate}}</a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer>
        <mat-toolbar color="primary" [hidden]="smallScreen">
            <button mat-button>{{'footer_help'|translate}}</button>
            <button mat-button>{{'footer_creator'|translate}}</button>
            <button mat-button>{{'footer_legal_notice'|translate}}</button>
            <span fxFlex></span>
            <button mat-button> {{'footer_fac_name'|translate}}</button>
            <button mat-button>{{'footer_uni_name'|translate}}</button>
        </mat-toolbar>
        <mat-toolbar color="primary" [hidden]="!smallScreen">
            <mat-toolbar-row>
                <button mat-button>{{'footer_help'|translate}}</button>
                <button mat-button>{{'footer_creator'|translate}}</button>
                <button mat-button>{{'footer_legal_notice'|translate}}</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-button> {{'footer_fac_name'|translate}}</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-button>{{'footer_uni_name'|translate}}</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>

