.treemap{
  display:inline-block;
  width: 33%;
}
.codearea{
  display:inline-block;
  width: 66%;
}
.CodeMirror-lines{
  padding: 0 0 !important;
}
.big-icon {
  width: 20px;
  height: 20px;
  transform: scale(2);
  margin-bottom: 12px;
}

#userInfo span{
  padding-left: 10px;
  margin-top: 10px;
}
