<h2 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle *ngIf="isNew">{{'add_team'|translate}}</h2>
<h2 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle *ngIf="!isNew">{{'modify_team'|translate}} {{teamId}}</h2>
<div layout="row" layout-align="center start">
    <mat-dialog-content >
        <div class="row">
            <!--team table-->
            <div class="col-5">
                <h3>{{'team_members'|translate}}</h3>
                <mat-form-field>
                    <input matInput (keyup)="uilApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
                </mat-form-field>
                <table mat-table #uilTable #uilTableSort="matSort" [dataSource]="uilDataSource" matSort>
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? uilMasterToggle() : null"
                                          [checked]="uilSelection.hasValue() && uilIsAllSelected()"
                                          [indeterminate]="uilSelection.hasValue() && !uilIsAllSelected()"
                                          [aria-label]="uilCheckboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? uilSelection.toggle(row) : null"
                                          [checked]="uilSelection.isSelected(row)"
                                          [aria-label]="uilCheckboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- ID Column -->
                    <ng-container matColumnDef="user_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
                    </ng-container>

                    <!-- Surnames Column -->
                    <ng-container matColumnDef="surnames">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'surnames'|translate}} </th>
                        <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name'|translate}} </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'email'|translate}} </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                <mat-paginator #uilPaginator [pageSizeOptions]="[5, 10]" hidePageSize></mat-paginator>
            </div>
            <div class="col-1 vcenter">
                <button mat-fab aria-label="arrow-right-thick" color="accent" title="{{'remove_students' | translate}}" class="button-margin" (click)="toStudentList()" [disabled]="!uilSelection.selected.length">
                    <mat-icon svgIcon="arrow-right-thick" class="no-padding-img"></mat-icon>
                </button>
                <button mat-fab aria-label="arrow-left-thick" color="accent" title="{{'add_students' | translate}}" class="button-margin" (click)="toUserInfo()" [disabled]="!stlSelection.selected.length">
                    <mat-icon svgIcon="arrow-left-thick" class="no-padding-img"></mat-icon>
                </button>
            </div>
            <!--Users table-->
            <div class="col-6">
                <h3>{{'students'|translate}}</h3>
                <mat-form-field>
                    <input matInput (keyup)="stlApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
                </mat-form-field>
                <table mat-table #stlTable #stlTableSort="matSort" [dataSource]="stlDataSource" matSort>
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? stlSelection.toggle(row) : null"
                                          [checked]="stlSelection.isSelected(row)"
                                          [aria-label]="stlCheckboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- ID Column -->
                    <ng-container matColumnDef="user_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
                    </ng-container>

                    <!-- Surnames Column -->
                    <ng-container matColumnDef="surnames">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'surnames'|translate}} </th>
                        <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name'|translate}} </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'email'|translate}} </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                <mat-paginator #stlPaginator [pageSizeOptions]="[5, 10]" hidePageSize></mat-paginator>
            </div>
        </div>
    </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!saveActive">{{'save'|translate}}</button>
    <span class="mat-spacer"></span>
    <button class="mat-raised-button" (click)="close()" >{{'close'|translate}}</button>
  </mat-dialog-actions>
</div>
