<h4 *ngIf="code.code_id">{{'update_code'|translate}}</h4>
<h4 *ngIf="!code.code_id">{{'create_code'|translate}}</h4>
<mat-dialog-content >
  <form [formGroup]="codeForm" novalidate>
    <mat-form-field>
      <label>
        <input type="text" matInput #codGea placeholder="{{'cod_gea'|translate}}" formControlName="codGea">
        <div *ngIf="submitted && codeForm.get('codGea').errors">
          <mat-error *ngIf="codeForm.get('codGea').hasError('required')">{{'error_required' | translate}}</mat-error>
          <mat-error *ngIf="codeForm.get('codGea').hasError('validCode')">{{'error_valid_gea_code' | translate}}</mat-error>
        </div>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="text" matInput #abbrCode placeholder="{{'abbr_code'|translate}}" formControlName="abbrCode">
        <div *ngIf="submitted && codeForm.get('abbrCode').errors">
          <mat-error *ngIf="codeForm.get('abbrCode').hasError('required')">{{'error_required' | translate}}</mat-error>
          <mat-error *ngIf="codeForm.get('abbrCode').hasError('minLength')">{{'error_abbr_code_length' | translate}}</mat-error>
        </div>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="text" matInput #name placeholder="{{'name'|translate}}" formControlName="name">
        <div *ngIf="submitted && codeForm.get('name').errors">
          <mat-error *ngIf="codeForm.get('name').hasError('required')">{{'error_required' | translate}}</mat-error>
          <mat-error *ngIf="codeForm.get('name').hasError('minLength')">{{'error_code_name_length' | translate}}</mat-error>
        </div>
      </label>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="send()">{{'save'|translate}}</button>
  <span fxFlex></span>
  <button class="mat-raised-button" (click)="close()" >{{'close'|translate}}</button>
</mat-dialog-actions>
