<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-tab-group dynamicHeight  color="primary" backgroundColor="accent" [selectedIndex]="selectedTab">
        <mat-tab  label="{{'professors'| translate}}">
            <mat-form-field>
                <input matInput (keyup)="prlApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
            </mat-form-field>
            <table mat-table #prlTable #prlTableSort="matSort" [dataSource]="prlDataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
                </ng-container>
                <!-- Surnames Column -->
                <ng-container matColumnDef="surnames">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'surnames'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <!-- nick Column -->
                <ng-container matColumnDef="user_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'user_name'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'email'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>
                <!-- active Column -->
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active'|translate}} </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox class="example-margin" [(ngModel)]="row.active" color="primary" (change)="changeUserState(row.user_id)"></mat-checkbox>
                    </td>
                </ng-container>
                <!--actions column-->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <button mat-mini-fab (click)="editUser('PROFESSORS',row)" title="{{'edit_user'|translate}}"><mat-icon svgIcon="pencil-outline" class="no-padding-img"></mat-icon></button>
                        <button mat-mini-fab class="margin-left"  (click)="changePassword(row)" title="{{'change_password'|translate}}"><mat-icon svgIcon="lock-reset" class="no-padding-img"></mat-icon></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator #prlPaginator [pageSizeOptions]="[5, 10]" hidePageSize id="prlPaginator"></mat-paginator>
            <button mat-mini-fab class="button-margin" (click)="createUser(1)" title="{{'edit_user'|translate}}"><mat-icon svgIcon="plus" class="no-padding-img"></mat-icon></button>
        </mat-tab>
        <mat-tab  label="{{'students'| translate}}">
            <mat-form-field>
                <input matInput (keyup)="stdApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
            </mat-form-field>
            <table mat-table #stdTable #stdTableSort="matSort" [dataSource]="stdDataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
                </ng-container>
                <!-- Surnames Column -->
                <ng-container matColumnDef="surnames">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'surnames'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <!-- nick Column -->
                <ng-container matColumnDef="user_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'user_name'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'email'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>
                <!-- active Column -->
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active'|translate}} </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox class="example-margin" [(ngModel)]="row.active" color="primary" (change)="changeUserState(row.user_id)"></mat-checkbox>
                    </td>
                </ng-container>
                <!--actions column-->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <button mat-mini-fab (click)="editUser('STUDENTS',row)" title="{{'edit_user'|translate}}"><mat-icon svgIcon="pencil-outline" class="no-padding-img"></mat-icon></button>
                        <button mat-mini-fab class="margin-left"  (click)="changePassword(row)" title="{{'change_password'|translate}}"><mat-icon svgIcon="lock-reset" class="no-padding-img"></mat-icon></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator #stdPaginator [pageSizeOptions]="[5, 10]" hidePageSize></mat-paginator>
            <button mat-mini-fab class="button-margin" (click)="createUser(0)" title="{{'edit_user'|translate}}"><mat-icon svgIcon="plus" class="no-padding-img"></mat-icon></button>
        </mat-tab>
        <mat-tab  label="{{'admins'| translate}}">
            <mat-form-field>
                <input matInput (keyup)="admApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
            </mat-form-field>
            <table mat-table #admTable #admTableSort="matSort" [dataSource]="admDataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
                </ng-container>
                <!-- Surnames Column -->
                <ng-container matColumnDef="surnames">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'surnames'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.surnames}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'name'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <!-- nick Column -->
                <ng-container matColumnDef="user_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'user_name'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'email'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>
                <!-- active Column -->
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active'|translate}} </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox class="example-margin" [(ngModel)]="row.active"  color="primary" (change)="changeUserState(row.user_id)"></mat-checkbox>
                    </td>
                </ng-container>
                <!--actions column-->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <button mat-mini-fab (click)="editUser('ADMINS',row)" title="{{'edit_user'|translate}}"><mat-icon svgIcon="pencil-outline" class="no-padding-img"></mat-icon></button>
                        <button mat-mini-fab class="margin-left"  (click)="changePassword(row)" title="{{'change_password'|translate}}"><mat-icon svgIcon="lock-reset" class="no-padding-img"></mat-icon></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator #admPaginator [pageSizeOptions]="[5, 10]" hidePageSize></mat-paginator>
            <button mat-mini-fab class="button-margin" (click)="createUser(2)" title="{{'edit_user'|translate}}"><mat-icon svgIcon="plus" class="no-padding-img"></mat-icon></button>
        </mat-tab>
    </mat-tab-group>
</div>
