<h4>{{'change_pwd_header'|translate}}</h4>
<mat-dialog-content >
    <form [formGroup]="userForm" novalidate>
        <mat-form-field>
            <label>
                <input type="password" matInput #password placeholder="{{'password'|translate}}" onCopy="return false" onPaste="return false" formControlName="password">
                <div *ngIf="submitted && userForm.get('password').errors">
                    <mat-error *ngIf="userForm.get('password').hasError('required')">{{'error_required' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('password').hasError('minLength')">{{'error_min_length_pwd' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('password').hasError('pattern')">{{'error_pattern_pwd' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input type="password" matInput #confirmPassword placeholder="{{'confirmPassword'|translate}}"  onCopy="return false" onPaste="return false" formControlName="confirmPassword">
                <div *ngIf="submitted && userForm.get('confirmPassword').errors">
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('required')">{{'error_required' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('minLength')">{{'error_min_length_pwd' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('pattern')">{{'error_pattern_pwd' | translate}}</mat-error>
                    <mat-error *ngIf="userForm.get('confirmPassword').hasError('mustMatch')">{{'error_mustMatch_pwd' | translate}}</mat-error>
                </div>
            </label>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="send()">{{'change'|translate}}</button>
    <span fxFlex></span>
    <button class="mat-raised-button" (click)="close()" >{{'close'|translate}}</button>
</mat-dialog-actions>
