<div class="" [class.main-is-mobile]="mobileQuery.matches">
    <mat-card class="main-card">
        <mat-card-header>
            <h4>{{'login_access'|translate}}</h4>
        </mat-card-header>
        <mat-card-content [formGroup]="loginForm">
            <mat-form-field>
                <label>
                    <input matInput #username placeholder="{{'user'|translate}}" formControlName="username">
                    <div *ngIf="submitted && loginForm.get('username').errors">
                        <mat-error *ngIf="loginForm.get('username').hasError('required')">{{'error_required' | translate}}</mat-error>
                        <mat-error *ngIf="loginForm.get('username').hasError('minLength')">{{'error_min_length_username' | translate}}</mat-error>
                    </div>
                </label>
            </mat-form-field>
            <mat-form-field>
                <label>
                    <input type="password" matInput #password placeholder="{{'password'|translate}}" formControlName="password">
                    <div *ngIf="submitted && loginForm.get('password').errors">
                        <mat-error *ngIf="loginForm.get('password').hasError('required')">{{'error_required' | translate}}</mat-error>
                        <mat-error *ngIf="loginForm.get('password').hasError('minLength')">{{'error_min_length_pwd' | translate}}</mat-error>
                    </div>
                </label>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="mat-primary" [disabled]="loading" (click)="login()" color="primary">{{'login_button' | translate}}</button>
            <span fxFlex></span>
            <button mat-raised-button [disabled]="loading" (click)="newStudent()" color="primary">{{'new_student' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
