<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-toolbar  color="accent" class="main-toolbar">
        <button mat-mini-fab aria-label="keyboard-return" color="primary" title="{{'go_back' | translate}}" (click)="goBack()">
            <mat-icon svgIcon="keyboard-return" class="no-padding-img"></mat-icon>
        </button>
        <button mat-button color="primary" (click)="snav.toggle()" class="button-right-border layout-fill-height file-tree-button"><mat-icon color="primary" svgIcon="file-tree" class="no-padding-img "></mat-icon></button>
        <h3 *ngIf="userType==='TEACHER'">{{'corrections_bar_teacher'|translate}} {{params.assignmentName}}</h3>
        <h3 *ngIf="userType==='STUDENT'">{{'corrections_bar'|translate}} {{params.assignmentName}}</h3>
        <span fxFlex></span>
        <button mat-mini-fab aria-label="theme-light-dark" color="primary" title="{{'change_theme' | translate}}" (click)="themeChange()">
            <mat-icon svgIcon="theme-light-dark" class="no-padding-img"></mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 48 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="48" [opened]="!smallScreenCm">
            <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="tree">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <li class="mat-tree-node">
                        <button class="fileButton" (click)="openFile(node.path);snav.toggle()">{{node.name}}</button>
                    </li>
                </mat-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                    <li>
                        <div class="mat-tree-node">
                            <button mat-icon-button matTreeNodeToggle
                                    [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon>
                                    {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            {{node.name}}
                        </div>
                        <ul [class.tree-invisible]="!nestedTreeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </ul>
                    </li>
                </mat-nested-tree-node>
            </mat-tree>
        </mat-sidenav>
        <mat-sidenav-content>
            <ngx-codemirror id="codeEditor" #codeEditor [(ngModel)]="content" [options]="options"></ngx-codemirror>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <ul class='selected-menu'>
        <li data-action="new" (click)="openCommentedLine()">{{'new_comment'|translate}}</li>
    </ul>
    <ul class='haveComment-menu'>
        <li data-action="show" (click)="openCommentedLine()">{{'show_comment'|translate}}</li>
        <li data-action="delete" *ngIf="isEditable">{{'remove'|translate}}</li>

    </ul>
    <div id="pomessage" class="popover"></div>
</div>
