$color-overlay: rgba(0, 0, 0, .3);
$dialog-position-top: 0%;
@import "../../../styles/palette";
.main_container{
  border: 1px map-get($md-primary,700) outset;
}
.tree-invisible {
  display: none;
}
.tree{
  padding-right: 0!important;
  padding-left: 0!important;
}
.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 5px;
}
.mat-tree-node{
  white-space: nowrap;
}

.tree-node {
  display: block;
  padding-left: 1px;
}
.tree-nested-node {
  padding-left: 1px;
}
.tree button{
  background: transparent;
  border: none !important;
}
.tree .fileButton:focus{
  border: none !important;
  color: #800000
}
.tree button:focus{
  outline: none;
}
.tree button::-moz-focus-inner{
  border: 0;
}
.haveComment{
  background-color: map_get($md-secondary,600) !important;
  color:  map_get($md-primary,600) !important;
}
.haveLineComment{
  background-color: map_get($md-secondary,100) !important;
}

.selected{
  background-color:map_get($md-secondary,100)!important;
  color: map_get($md-primary,600) !important;
}
.CodeMirror-linenumber{
  border: map_get($md-primary,600) 1px outset;
  color:white;
  background-color: map_get($md-primary,400);
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.cm_container{
  position: relative;
}
.CodeMirror {
  height: auto;
  position: relative;
}
.CodeMirror-scroll {
  overflow: auto;
  height: 90vh;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
}
.btn-small{
  color: map-get($md-secondary,500);
  background-color: map-get($md-primary,500);
  &:hover {
    background-color: map-get($md-secondary,500);
    color: map-get($md-primary,500);
  }
  &:focus {
    background-color: map-get($md-primary,50);
    color: map-get($md-primary,500);
  }
}
// Modal Window
#commentModal{
  padding: 0;
  cursor: move;
  z-index: 10;
  .btn-left{
    position: absolute;
    left: 15px;
  }
  /*.modal-content {
    margin-top: 10em;
  }*/
  .title {
    color: map_get($md-primary,500);
    text-shadow: 0 2px 5px rgba(128, 0, 0, .5);
  }
  .h-block {
    color: white;
    h1 {
      color: white;
    }
  }
  /*.no-padding {
    .nsm-content {
      padding: 0 !important;
      margin: 0 !important;
      min-width: 800px !important;
      max-width: 1024px !important;
      min-height: 600px!important;
      max-height: 768px!important;
    }
  }*/
  .mat-form-field-label{
    color: map_get($md-primary,500);
    text-shadow: 0 2px 5px rgba(128, 0, 0, .5);
  }
  .close{
    color: map_get($md-primary,500);
  }
  .btn-primary{
    color: map-get($md-secondary,500);
    background-color: map-get($md-primary,500);
    &:hover {
      background-color: map-get($md-secondary,500);
      color: map-get($md-primary,500);
    }
    &:focus {
      background-color: map-get($md-primary,50);
      color: map-get($md-primary,500);
    }
  }
  textarea.form-control {
    resize: none;
  }
  .padding-orcode{
    margin-left: 0!important;
  }
  .padding-modcode{
    margin-right: 0!important;
  }

}
.CodeMirror {
  border: 1px map-get($md-primary,700) outset;
  height: 100%;
}
.CodeMirror-scroll{
  height: 100%;
}
.nsm-content{
  width: 100ch !important;
  //max-width: 520px !important;
}
.haveComment-menu{
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid map-get($md-primary,600);
  white-space: nowrap;
  font-family: sans-serif;
  background: map-get($md-primary,500);
  color: map-get($md-secondary,500);
  border-radius: 5px;
  padding: 0;
}

.haveComment-menu li {
  padding: 2px 4px;
  cursor: pointer;
  list-style-type: none;
  transition: all .3s ease;
  user-select: none;
}
.haveComment-menu li:hover {
  background-color: map-get($md-secondary,500);
  color: map-get($md-primary,500);
}
.selected-menu{
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid map-get($md-primary,600);
  white-space: nowrap;
  font-family: sans-serif;
  background: map-get($md-primary,500);
  color: map-get($md-secondary,500);
  border-radius: 5px;
  padding: 0;
}

/* Each of the items in the list */
.selected-menu li {
  padding: 2px 4px;
  cursor: pointer;
  list-style-type: none;
  transition: all .3s ease;
  user-select: none;
}

.selected-menu li:hover {
  background-color: map-get($md-secondary,500);
  color: map-get($md-primary,500);
}
.popover {
  display: none;
  grid-template-columns: fit-content(500px) fit-content(500px) 1fr;
  grid-gap: 5px;
  box-sizing: border-box;
  color: map-get($md-primary,500);
  background-color: map-get($md-secondary,100);
  padding: 10px;
  border: 1px solid map-get($md-primary,500);
  border-radius: 5px;
}
.selShow{
  background-color: map-get($md-primary,10)!important;
  border-bottom:map-get($md-primary,500) outset 1px !important;
  border-top:map-get($md-primary,500) outset 1px !important;
  color: map-get($md-primary,800)!important;
  white-space: pre;
}
.CodeMirror-gutter.CodeMirror-linenumbers{
  background-color: map-get($md-primary,500);
}
.btn-show-code{
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
  line-height: 0 !important;
  margin-right: 4px !important;
  margin-left: -4px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  padding-left: 0;
}
.file-tree-button  mat-icon{
  right: 15px;
  height: 36px!important;
  width: 36px!important;
  padding: 0!important;
}
