<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <div *ngIf="isLoaded">
        <mat-tab-group dynamicHeight  color="primary" backgroundColor="accent" [selectedIndex]="selectedTab">
            <mat-tab *ngFor="let edt of subjectsData.editions; let index = index" [label]="edt.edition">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="start start">
                    <mat-card class="mat-elevation-z4" fxFlex="0 1 calc(33.3% - 20px)" fxFlex.lt-md="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%" *ngFor="let sj of subjectsData.subjectsByEdition[edt.edition]; let i = index" [attr.data-index]="i">
                        <mat-card-header>{{subjectsData.codes[sj.code_id].abbr_code}} - {{subjectsData.codes[sj.code_id].name}} (<div *ngIf="userType==='TEACHER'">{{sj.name}}</div><div *ngIf="userType==='STUDENT'">{{sj.sj_name}}</div>)</mat-card-header>
                        <mat-card-content>
                            <div *ngIf="subjectsData.profAssoc[sj.subject_id]">
                                <h3 *ngIf="subjectsData.profAssoc[sj.subject_id].length>1">{{'professors'|translate}}</h3>
                                <h3 *ngIf="subjectsData.profAssoc[sj.subject_id].length===1">{{'professor'|translate}}</h3>
                                <div class="padding-24" *ngFor="let pa of subjectsData.profAssoc[sj.subject_id]; let x = index" [attr.data-index]="x">{{pa.name}} {{pa.surnames}} ({{pa.email}})</div>
                            </div>
                            <div *ngIf="userType==='TEACHER'">
                                <h3>{{'teams'|translate}}</h3>
                                <mat-accordion class="example-headers-align">
                                        <mat-expansion-panel *ngFor="let tm of subjectsData.teams[sj.subject_id]; let i = index" [attr.data-index]="i" [expanded]="step[sj.subject_id] === i" (opened)="setStep(i,sj.subject_id)" hideToggle>
                                            <mat-expansion-panel-header>
                                                {{'team'|translate}} {{tm}}
                                            </mat-expansion-panel-header>
                                            <div class="padding-24" *ngFor="let mb of subjectsData.teamsInfo[tm]; let x = index" [attr.data-index]="x">{{mb.name}} {{mb.surnames}} ({{mb.email}})</div>
                                            <!--Team buttons-->
                                            <div *ngIf="userType==='TEACHER'">
                                                <button mat-fab aria-label="team-edit" color="accent" title="{{'edit_team' | translate}}" class="button-margin" (click)="editTeam(sj.subject_id,tm)" *ngIf="userType==='TEACHER' && edt.actual">
                                                    <mat-icon svgIcon="team-edit" class="no-padding-img"></mat-icon>
                                                </button>
                                                <span fxFlex></span>
                                                <button mat-fab aria-label="delete-outline" color="accent" title="{{'remove_team' | translate}}" class="button-margin" (click)="deleteTeam(tm,sj.subject_id,i)" *ngIf="userType==='TEACHER' && edt.actual">
                                                    <mat-icon svgIcon="delete-outline" class="no-padding-img"></mat-icon>
                                                </button>
                                            </div>
                                        </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div *ngIf="userType==='STUDENT'">
                                <h3>{{'team'|translate}} {{subjectsData.teams[sj.subject_id]}}</h3>
                                <div class="padding-24" *ngFor="let mb of subjectsData.teamsInfo[subjectsData.teams[sj.subject_id]]; let x = index" [attr.data-index]="x">{{mb.name}} {{mb.surnames}} ({{mb.email}})</div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-fab aria-label="account-multiple-plus-outline" color="accent" title="{{'add_team' | translate}}" class="button-margin" (click)="addTeam(sj.subject_id,i)" *ngIf="userType==='TEACHER' && edt.actual">
                                <mat-icon svgIcon="account-multiple-plus-outline" class="no-padding-img"></mat-icon>
                            </button>
                            <span fxFlex></span>
                            <button mat-fab aria-label="sleep" color="accent" title="{{'remove_subject' | translate}}" class="button-margin" (click)="changeStateSubject(sj.subject_id,i)" *ngIf="userType==='TEACHER' && sj.active">
                                <mat-icon svgIcon="sleep" class="no-padding-img"></mat-icon>
                            </button>
                            <button mat-fab aria-label="pencil-outline" color="accent" title="{{'edit_subject' | translate}}" class="button-margin" (click)="upgradeSubject(sj.subject_id,i)" *ngIf="userType==='TEACHER' && edt.actual && sj.active">
                                <mat-icon svgIcon="pencil-outline" class="no-padding-img"></mat-icon>
                            </button>
                            <button mat-fab aria-label="bell-ring" color="accent" title="{{'activate_subject' | translate}}" class="button-margin" (click)="changeStateSubject(sj.subject_id,i)" *ngIf="userType==='TEACHER' && !sj.active" [disabled]="subjectsData.teams[sj.subject_id].length===0">
                                <mat-icon svgIcon="bell-ring" class="no-padding-img"></mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                    <button mat-fab aria-label="plus" color="accent" title="{{'add_subject' | translate}}" class="button-margin" (click)="upgradeSubject()" *ngIf="userType==='TEACHER' && edt.actual">
                        <mat-icon svgIcon="plus" class="no-padding-img"></mat-icon>
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
