// Bootstrap overrides for this template
@import "palette";
a {
  color: map-get($md-primary,500);
  &:focus,
  &:hover,
  &:active {
    color: map-get($md-primary,50);
  }
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: map-get($md-primary,500) !important;
}

.bg-secondary {
  background-color: map-get($md-secondary,500) !important;
}

.text-primary {
  color: map-get($md-primary,500) !important;
}

.text-secondary {
  color: map-get($md-secondary,500) !important;
}

.btn-primary {
  background-color: map-get($md-primary,500);
  border-color: map-get($md-primary,500);
  &:hover,
  &:focus,
  &:active {
    background-color: map-get($md-primary,50);
    border-color: map-get($md-primary,50);
  }
}

.btn-secondary {
  background-color: map-get($md-secondary,500);
  border-color: map-get($md-secondary,500);
  &:hover,
  &:focus,
  &:active {
    background-color: map-get($md-secondary,50);
    border-color: map-get($md-secondary,50);
  }
}
