@import "palette";
.footer {
  background-color: map_get($md-primary,900);
  color: map_get($md-secondary,500);
  font-size: 14px;
  p {
    color:  map_get($md-secondary,500);
  }
  a {
    color:  map_get($md-secondary,500);
    padding: 5px;
    text-decoration: none;
    &:hover {
      color: map-get($md-secondary,50);
    }
    &:active,
    &:focus {
      color: map-get($md-secondary,50);
    }
  }
  .row {
     align-items: center;
   }
}

