html, body { height: 100%;}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $light-background;
  height: auto;
}
.bg-secondary {
  background-color: green;
}
.layout-fill-height {
  margin: 0;
  min-height: 100%;
  height: 100%;
}
router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
footer{
  width:100%;
}
.row{
  margin: 0!important;
  padding-left: 0!important;
}
.mat-icon {
  padding: 0 14px;
}
.mat-card-header-text{
  margin-left: 0!important;
}
.mat-card-actions button{
  margin-left: 10px;
}
.mat-card-actions button{
  margin-left: 10px;
}
.margin-left {
  margin-left: 10px!important;
}
.mat-card-content{
  padding-top: 10px;
}
.mat-card-header{
  border-bottom: 1px map_get($md-primary,700) outset;
}
.mat-card-buttons{
  padding-top: 10px;
}
.mat-spacer {
  flex: 1 1 auto;
}
.no-padding-img{
  padding: 0 !important;
}
.button-margin{
  margin: 10px!important;
}
.mat-card{
  margin-top: 5px!important;
}
.btn-primary{
  background-color: map_get($md-primary,500);
  color: map-get($md-secondary,500);
  border: 1px map_get($md-primary,700) solid !important;
  &:hover {
    background-color: map-get($md-secondary,500);
    color: map-get($md-primary,500);
  }
  &:focus {
    background-color: map-get($md-primary,50);
    color: map-get($md-primary,500);
  }
}
.btn-mainBar{
  height: 100%;
  border-radius: unset;
  padding: 0.5em;
}
.glyph-size{
  font-size: 18px!important;
}
.CodeMirror-lines{
  padding: 0 0 !important;
}
.active-link {
  background-color: map-get($md-primary, 500)!important;
  color: map-get($md-secondary,500)!important;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-flow: row;
}
.mat-form-field {
  width: 100%!important;
}
.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  padding-left: 5px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  height: 48px!important;
  min-height: 48px!important;
}
h1.main-app-name {
  margin-left: 8px;
}

.main-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.main-is-mobile .main-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
button:focus {
  outline: none;
}

footer .copy{
  margin-top: 5px;
}
footer button mat-icon{
  width: 14px!important;
  height: 14px!important;
  transform: scale(2);
}
.main-is-mobile .footer-toolbar {

  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.mat-sidenav {
  min-width: 300px !important;
  width: 100vw !important;
  max-width: 350px !important;
}
mat-tab-body{
  margin-left: 20px;
}
mat-card{
  margin-bottom: 5px;
}
.button-right-border{
  border-right: 2px map_get($md-secondary,200) outset;
}
mat-expansion-panel {
  width: 100%;
}
table {
  width: 100%;
  min-width:100%;
}
.mat-expansion-panel-body{
  padding: 0!important;
}
.mat-card-no-padding{
  padding: 0!important;
}
.modal-dialog{
  margin-top: 18rem!important;
}
