@import "palette";
header.masthead {
  background-color: map_get($md-secondary,100);
  max-height: 120px;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  img{
    max-height: 120px;
  }
}
header.nopadding{
   padding-left: 0 !important;
 }
@media (min-width: 992px) {
  header.masthead {
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }

  }
}
