// Styling for the navbar
@import "palette";
#navBar {
  background-color: map-get($md-primary,900);
  padding: 1px;
  .nav {
    letter-spacing: 0.0625rem;
    li.nav-item {
      background-color: map-get($md-primary,500);
      a.nav-link {
        color: map-get($md-secondary,500);
        &:hover {
          background-color: map-get($md-secondary,500);
          color: map-get($md-primary,500);
        }
        &:focus {
          background-color: map-get($md-secondary,50);
          color: map-get($md-primary,500);
        }
        &.active-link {
          color: map-get($md-primary,500) !important;
          border: 1px map-get($md-primary,700) outset!important;
          background-color: map-get($md-secondary,500)!important;
        }
      }
    }
  }
}
#mainBar{
  background-color: map_get($md-primary,900);
  max-height: 45px;
  #userLogin{
    border-right: 2px map_get($md-primary,500) inset;
  }
  #userPhoto{
    max-width: 45px;
    background-color: map_get($md-primary,50);
    border: 2px map_get($md-primary,500) inset;
  }
}
.user-id{
  font-size: 20px;
  color: map_get($md-secondary,500);
  padding:0.5em;
}
.mainBar-row{
  max-height: 45px!important;
}

#upperBar{
  color: map-get($md-primary,500);
  max-height: 24px;
  background-color: map_get($md-secondary,600);
  .btn-small{
    height: 100%;
    width: 31px;
    padding: 0;
    &:disabled{
      color: map_get($md-secondary,600)!important;
      background-color: map-get($md-primary,500) !important;
    }
  }
}
