
<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="main-toolbar">
        <img src="../assets/images/Logo_sc.png" alt="Scipio" class="layout-fill-height "/>
        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" title="{{'language'|translate}}"><mat-icon svgIcon="earth" class="no-padding-img"></mat-icon></button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item [ngClass]="{'langActive': langSelected=='es'}" (click)="changeLang('es')" title="{{'lang_es'|translate}}"><mat-icon svgIcon="es" class="no-padding-img"></mat-icon><span>{{'lang_es'|translate}}</span></button>
        <button mat-menu-item [ngClass]="{'langActive': langSelected=='en'}" (click)="changeLang('en')" title="{{'lang_en'|translate}}"><mat-icon svgIcon="gb" class="no-padding-img"></mat-icon><span>{{'lang_en'|translate}}</span></button>
    </mat-menu>
    <div class="main-sidenav-container">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <mat-toolbar color="primary" [hidden]="smallScreen">
            <button mat-button>{{'footer_help'|translate}}</button>
            <button mat-button>{{'footer_creator'|translate}}</button>
            <button mat-button>{{'footer_legal_notice'|translate}}</button>
            <span fxFlex></span>
            <button mat-button> {{'footer_fac_name'|translate}}</button>
            <button mat-button>{{'footer_uni_name'|translate}}</button>
        </mat-toolbar>
        <mat-toolbar color="primary" [hidden]="!smallScreen">
            <mat-toolbar-row>
                <button mat-button>{{'footer_help'|translate}}</button>
                <button mat-button>{{'footer_creator'|translate}}</button>
                <button mat-button>{{'footer_legal_notice'|translate}}</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-button> {{'footer_fac_name'|translate}}</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-button>{{'footer_uni_name'|translate}}</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>
