@import "~src/styles/_palette.scss";
ul {
  list-style: none;
}
li {
  display: inline-block;
  padding: 10px;
}
#userDisplay{
  position: relative;
  float: right;
}
.langBox{
  flex: 1 1;
}
.langActive{
  background: map_get($md-secondary,200);
  color: map_get($md-primary,600);
}
.main_container{
  border: 1px map-get($md-primary,700) outset;
}
button mat-icon {
  width: 20px;
  height: 20px;
  transform: scale(2);
  margin-bottom: 12px;
}
