<h2 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle *ngIf="isNew">{{'add_assignment'|translate}}</h2>
<h2 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle *ngIf="!isNew">{{'modify_assignment'|translate}}</h2>
<div layout="row" layout-align="center start">
  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <label>
        <input matInput #nameField
               placeholder="{{'name'|translate}}"
               formControlName="name" [maxLength]="75">
        <mat-error *ngIf="form.get('name').hasError('required')">{{'error_required' | translate}}</mat-error>
        <mat-error *ngIf="form.get('name').hasError('maxLength')">{{'error_max_length' | translate}}</mat-error>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
      <textarea matInput
                placeholder="{{'description'|translate}}"
                formControlName="description">
      </textarea>
        <mat-error *ngIf="form.get('description').hasError('required')">{{'error_required' | translate}}</mat-error>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [min]="today" [matDatepicker]="dp_end_date" placeholder="{{'deadline'|translate}}" formControlName="end_date" readonly>
        <button mat-mini-fab aria-label="calendar-month-outline" color="accent" (click)="dp_end_date.open()"><mat-icon svgIcon="calendar-month-outline" class="no-padding-img"></mat-icon></button>
        <mat-datepicker #dp_end_date></mat-datepicker>
        <mat-error *ngIf="form.get('end_date').hasError('required')">{{'error_required' | translate}}</mat-error>
      </label>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="save()">{{'save'|translate}}</button>
    <button class="mat-raised-button" (click)="delete()" *ngIf="!isNew">{{'deactivate_assignment'|translate}}</button>
    <span class="mat-spacer"></span>
    <button class="mat-raised-button" (click)="close()">{{'close'|translate}}</button>

  </mat-dialog-actions>
</div>

