textarea {
  resize: none!important;
  width: 100%!important;
}
label{
  width: 100%!important;
}
#mat-input-2{
  width: 100px!important;
}
mat-datepicker-toggle .mat-icon-button{
  width: 1em!important;
  height: 1em!important;
}
