<mat-tab-group dynamicHeight  color="primary" backgroundColor="accent" [selectedIndex]="selectedTab">
    <!--Subjects-->
  <mat-tab *ngFor="let sj of asData.subjects; let index = index" [label]="sj.abbr_code +' '+sj.sj_name">
    <div fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxLayoutGap="20px"
         fxLayoutAlign="start start">
        <!--Assignments-->
      <mat-card fxFlex="0 1 calc(33.3% - 20px)"
                fxFlex.lt-md="0 1 calc(50% - 20px)"
                fxFlex.lt-sm="100%" class="mat-elevation-z4" *ngFor="let assign of asData.assignments[sj.subject_id]; let i = index" [attr.data-index]="i">
            <mat-card-header class="mat-card-header mat-title">
              {{assign.name}}
            </mat-card-header>
            <mat-card-content>
              <p>{{assign.description}}</p>
                <span><strong>{{'deadline'|translate}}: </strong> {{assign.end_date |date: 'dd-MM-yyyy'}}</span>
            </mat-card-content>
          <mat-card-actions>
              <!--Peer-review-->
              <button mat-fab aria-label="swap-horizontal-bold" color="accent" title="{{'activate_peer_review' | translate}}" (click)="activatePeerReview(sj.subject_id,assign.assignment_id,i)" *ngIf="userType==='TEACHER' && assign.active && assign.have_submission && assign.peer_review===0">
                  <mat-icon svgIcon="swap-horizontal-bold" class="no-padding-img"></mat-icon>
              </button>
              <button mat-fab aria-label="swap-horizontal-bold-forbi" color="accent" title="{{'stop_peer_review' | translate}}" (click)="changeStatePeerReview(sj.subject_id,assign.assignment_id,2,i)" *ngIf="userType==='TEACHER' &&assign.active && assign.peer_review===1">
                  <mat-icon svgIcon="swap-horizontal-bold-forbi" class="no-padding-img"></mat-icon>
              </button>
              <button mat-fab aria-label="swap-horizontal-bold-react" color="accent" title="{{'reactivate_peer_review' | translate}}" (click)="changeStatePeerReview(sj.subject_id,assign.assignment_id,1,i)" *ngIf="userType==='TEACHER' &&assign.active && assign.peer_review===2">
                  <mat-icon svgIcon="swap-horizontal-bold-react" class="no-padding-img"></mat-icon>
              </button>
              <!--Submisssions-->
              <button mat-fab aria-label="file-document-box-plus-outline" color="accent" title="{{'create_submissions' | translate}}" (click)="openUploadSubmission(sj.subject_id,assign.assignment_id,i)" *ngIf="userType==='TEACHER' &&assign.active && !assign.have_submission">
                  <mat-icon svgIcon="file-document-box-plus-outline" class="no-padding-img"></mat-icon>
              </button>
              <button mat-fab aria-label="file-document-box-outline" color="accent" title="{{'show_submissions' | translate}}" *ngIf="assign.active && assign.have_submission" routerLink="/submissions" [queryParams]="{'subjectId':sj.subject_id,'assignmentId':assign.assignment_id,'assignmentName':assign.name,'teamId':sj.team_id,'peer_review':assign.peer_review}" queryParamsHandling="merge" >
                  <mat-icon svgIcon="file-document-box-outline" class="no-padding-img"></mat-icon>
              </button>
              <div fxFlex></div>
              <!--Edit assignment-->
              <button mat-fab aria-label="pencil-outline" color="accent" title="{{'edit_assignment' | translate}}" (click)="openUpgradeAssignment(sj.subject_id,i)" *ngIf="userType==='TEACHER' &&assign.active">
                  <mat-icon svgIcon="pencil-outline" class="no-padding-img"></mat-icon>
              </button>
              <!--Activate Assignment-->
              <button mat-fab aria-label="bell-ring" color="accent" title="{{'activate_assignment' | translate}}" (click)="activateAssignment(sj.subject_id,i)" *ngIf="userType==='TEACHER' &&!assign.active">
                  <mat-icon svgIcon="bell-ring" class="no-padding-img"></mat-icon>
              </button>
          </mat-card-actions>
      </mat-card>
    </div>
    <button mat-fab aria-label="plus" color="accent" title="{{'add_assignment' | translate}}" class="button-margin" (click)="openUpgradeAssignment(sj.subject_id)" *ngIf="userType==='TEACHER'">
        <mat-icon svgIcon="plus" class="no-padding-img"></mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>
