<h1 mat-dialog-title>Correciones sin guardar</h1>
<div mat-dialog-content>
  <p>Hay correcciones in guardar ¿Desea guardarlas?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">No guardar</button>
  <button mat-button (click)="saveComments()" cdkFocusInitial>Guardar</button>
</div>
