<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-tab-group dynamicHeight  color="primary" backgroundColor="accent" [selectedIndex]="selectedTab">
        <mat-tab  label="{{'codes'| translate}}">
            <mat-form-field>
                <input matInput (keyup)="codApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
            </mat-form-field>
            <table mat-table #codTable #codTableSort="matSort" [dataSource]="codDataSource" matSort>
                <!-- cod_gea Column -->
                <ng-container matColumnDef="cod_gea">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'edition'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.cod_gea}} </td>
                </ng-container>
                <!-- abbr_code Column -->
                <ng-container matColumnDef="abbr_code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'edition'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.abbr_code}} </td>
                </ng-container>
                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'edition'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <!--actions column-->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <button mat-mini-fab (click)="editCode(row)" title="{{'edit_code'|translate}}"><mat-icon svgIcon="pencil-outline" class="no-padding-img"></mat-icon></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="codeDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: codeDisplayedColumns;">
                </tr>
            </table>
            <mat-paginator #codPaginator [pageSizeOptions]="[5, 10]" hidePageSize id="codPaginator"></mat-paginator>
            <button mat-mini-fab class="button-margin" (click)="createCode()" title="{{'create_code'|translate}}"><mat-icon svgIcon="plus" class="no-padding-img"></mat-icon></button>
        </mat-tab>
        <mat-tab  label="{{'editions'| translate}}">
            <mat-form-field>
                <input matInput (keyup)="ediApplyFilter($event.target.value)" placeholder="{{'filter'|translate}}">
            </mat-form-field>
            <table mat-table #ediTable #ediTableSort="matSort" [dataSource]="ediDataSource" matSort>
                <!-- Email Column -->
                <ng-container matColumnDef="edition">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'edition'|translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.edition}} </td>
                </ng-container>
                <!-- actual Column -->
                <ng-container matColumnDef="actual">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'actual'|translate}} </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox class="example-margin" [(ngModel)]="row.actual"  color="primary" (change)="changeEditionState(row.edition_id)"></mat-checkbox>
                    </td>
                </ng-container>
                <!--actions column-->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <button mat-mini-fab (click)="editEdition(row)" title="{{'edit_edition'|translate}}"><mat-icon svgIcon="pencil-outline" class="no-padding-img"></mat-icon></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="editionDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: editionDisplayedColumns;">
                </tr>
            </table>
            <mat-paginator #ediPaginator [pageSizeOptions]="[5, 10]" hidePageSize id="ediPaginator"></mat-paginator>
            <button mat-mini-fab class="button-margin" (click)="createEdition()" title="{{'create_edition'|translate}}"><mat-icon svgIcon="plus" class="no-padding-img"></mat-icon></button>
        </mat-tab>
    </mat-tab-group>
</div>
