<div class="main-container" [class.main-is-mobile]="mobileQuery.matches" >
    <mat-toolbar  color="accent" class="main-toolbar">
        <h3>{{'profile_bar'|translate}}</h3>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="profileForm" novalidate *ngIf="show">
                <mat-form-field>
                    <label>
                        <input type="text" matInput #name placeholder="{{'name'|translate}}" formControlName="name"  [disableControl]="!active">
                        <div *ngIf="submitted && profileForm.get('name').errors">
                            <mat-error *ngIf="profileForm.get('name').hasError('required')">{{'error_required' | translate}}</mat-error>
                        </div>
                    </label>
                </mat-form-field>
                <mat-form-field>
                    <label>
                        <input type="text" matInput #surnames placeholder="{{'surnames'|translate}}" formControlName="surnames" [disableControl]="!active">
                        <div *ngIf="submitted && profileForm.get('surnames').errors">
                            <mat-error *ngIf="profileForm.get('surnames').hasError('required')">{{'error_required' | translate}}</mat-error>
                        </div>
                    </label>
                </mat-form-field>
                <mat-form-field>
                    <label>
                        <input type="email" matInput #email placeholder="{{'email'|translate}}" formControlName="email" [disableControl]="!active" (change)="emailChanged()">
                        <div *ngIf="submitted && profileForm.get('email').errors">
                            <mat-error *ngIf="profileForm.get('email').hasError('validMail')">{{'error_email_unique' | translate}}</mat-error>
                            <mat-error *ngIf="profileForm.get('email').hasError('required')">{{'error_required' | translate}}</mat-error>
                            <mat-error *ngIf="profileForm.get('email').hasError('email')">{{'error_email' | translate}}</mat-error>
                        </div>
                    </label>
                </mat-form-field>
                <mat-form-field>
                    <label>
                        <input type="text" matInput #username placeholder="{{'user'|translate}}"  formControlName="username"  [disableControl]="!active" (change)="usernameChanged()">
                        <div *ngIf="submitted && profileForm.get('username').errors">
                            <mat-error *ngIf="profileForm.get('username').hasError('required')">{{'error_required' | translate}}</mat-error>
                            <mat-error *ngIf="profileForm.get('confirmPassword').hasError('minLength')">{{'error_min_length_username' | translate}}</mat-error>
                            <mat-error *ngIf="profileForm.get('username').hasError('validUsername')">{{'error_username_unique' | translate}}</mat-error>
                        </div>
                    </label>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button class="mat-raised-button mat-primary" (click)="activeEdit()" *ngIf="!active">{{'edit'|translate}}</button>
            <button class="mat-raised-button mat-primary" (click)="send()" *ngIf="active">{{'save'|translate}}</button>
            <button class="mat-raised-button mat-primary" (click)="changePassword()">{{'change_password'|translate}}</button>
            <span fxFlex></span>
            <button class="mat-raised-button mat-primary" (click)="cancelEdit()" *ngIf="active">{{'cancel'|translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
