<h4 *ngIf="edition.edition_id">{{'update_edition'|translate}}</h4>
<h4 *ngIf="!edition.edition_id">{{'create_edition'|translate}}</h4>
<mat-dialog-content >
  <form [formGroup]="editionForm" novalidate>
    <mat-form-field>
      <label>
        <input type="text" matInput #edi placeholder="{{'edition'|translate}}" formControlName="edi">
        <mat-hint align="end">{{'edition_format'|translate}}</mat-hint>
        <div *ngIf="submitted && editionForm.get('edi').errors">
          <mat-error *ngIf="editionForm.get('edi').hasError('required')">{{'error_required' | translate}}</mat-error>
          <mat-error *ngIf="editionForm.get('edi').hasError('pattern')">{{'error_edition_invalid' | translate}}</mat-error>
          <mat-error *ngIf="editionForm.get('edi').hasError('validEdition')">{{'error_edition_exist' | translate}}</mat-error>
        </div>
      </label>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="send()">{{'save'|translate}}</button>
  <span fxFlex></span>
  <button class="mat-raised-button" (click)="close()" >{{'close'|translate}}</button>
</mat-dialog-actions>
