.active_correction{
  color:red;
  background-color: #ffcaca;
  border-radius: 5px 5px 5px;
  border: 1px solid red;
  padding: 5px;
  margin-left: 15px;
}
.working_correction{
  color:darkgoldenrod;
  background-color: #feffdd;
  border-radius: 5px 5px 5px;
  border: 1px solid darkgoldenrod;
  padding: 5px;
  margin-left: 15px;
}
.finished_correction{
  color:green;
  background-color: #a5f1ad;
  border-radius: 5px 5px 5px;
  border: 1px solid green;
  padding: 5px;
  margin-left: 15px;
}
