<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-toolbar  color="accent" class="main-toolbar">
        <h3 *ngIf="userType==='TEACHER'">{{'submissions_bar_teacher'|translate}} {{params.assignmentName}}</h3>
        <h3 *ngIf="userType==='STUDENT'">{{'submissions_bar'|translate}} {{params.assignmentName}}</h3>
    </mat-toolbar>
    <div fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxLayoutGap="20px"
         fxLayoutAlign="start start">
        <!--Submission-->
        <mat-card class="mat-elevation-z4"
                  fxFlex="0 1 calc(33.3% - 20px)"
                  fxFlex.lt-md="0 1 calc(50% - 20px)"
                  fxFlex.lt-sm="100%" *ngFor="let sub of corData.submissions; let i = index" [attr.data-index]="i">
            <mat-card-header  class="mat-card-header mat-title">
                <div *ngIf="userType==='TEACHER'">
                    {{'submission_header'|translate:({teamId:sub.team_id})}} {{sub.name}}
                </div>
                <div *ngIf="userType==='STUDENT'">
                    <div *ngIf="sub.team_id.toString()===params.teamId">
                        {{'my_submission'|translate}}
                    </div>
                    <div *ngIf=" sub.peer_review_team_id && sub.peer_review_team_id.toString()===params.teamId">
                        {{'peer_review_submission'|translate}}
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="corData.teamsInfo[sub.team_id] && corData.teamsInfo[sub.team_id].length">
                    <div class="mat-title">{{'team_members'|translate}}</div>
                    <div *ngFor="let mem of corData.teamsInfo[sub.submission_id]">
                        <span><strong>{{mem.name}} {{mem.surnames}}</strong> ({{mem.email}})</span>
                    </div>
                </div>
                <div *ngIf="userType==='TEACHER' && sub.peer_review_team_id && corData.teamsInfo[sub.peer_review_team_id] && corData.teamsInfo[sub.peer_review_team_id].length">
                    <div class="mat-title">{{'peer_review_team_members'|translate}}</div>
                    <div *ngFor="let mem of corData.teamsInfo[sub.peer_review_team_id]">
                        <span><strong>{{mem.name}} {{mem.surnames}}</strong> ({{mem.email}})</span>
                    </div>
                </div>
                <!--Owner-->
                <div *ngIf="corData.corrections[sub.submission_id]">
                    <div *ngFor="let cor of corData.corrections[sub.submission_id]; let i = index" [attr.data-index]="i">
                        <div *ngIf="userType==='TEACHER'">
                            <mat-card *ngIf="cor.reviewer_id.toString()===params.user_id">
                                <mat-card-header>
                                    <div class="mat-subheading-2">{{'correction_owner'|translate}} </div>
                                    <span fxFlex></span>
                                    <p class="active_correction" *ngIf="cor.state===0">{{'active_correction'|translate}}</p>
                                    <p class="working_correction" *ngIf="cor.state===1">{{'working_correction'|translate}}</p>
                                    <p class="finished_correction" *ngIf="cor.state===2">{{'finished_correction'|translate}}</p>
                                </mat-card-header>
                                <mat-card-content>
                                    <div *ngIf="cor.state!==0 && correctionsInfo && correctionsInfo[cor.correction_id] && correctionsInfo[cor.correction_id].length">
                                        <div class="row">
                                            <span class="mat-title">{{'state_label'|translate}}</span>
                                            <span fxFlex></span>
                                            <button mat-mini-fab aria-label="file-document-edit-outline" color="accent" title="{{'edit_correction' | translate}}" *ngIf="cor.state!==2" (click)="changeState(cor.correction_id,cor.state)"  routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':true,'path':sub.path}" queryParamsHandling="merge" >
                                                <mat-icon svgIcon="file-document-edit-outline" class="no-padding-img"></mat-icon>
                                            </button>
                                            <button mat-mini-fab aria-label="send-submission" color="accent" title="{{'end_correction' | translate}}" *ngIf="cor.state===1" (click)="SendCorrection(cor.correction_id,sub.team_id,sub.submission_id,i)">
                                                <mat-icon svgIcon="send-submission" class="no-padding-img"></mat-icon>
                                            </button>
                                            <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2" (click)="showPDF(cor.doc_path)">
                                                <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                 {{'corrections_resume'|translate:countCorrectionsInfo[cor.correction_id]}}
                                                </mat-expansion-panel-header>
                                                <table mat-table [dataSource]="correctionsInfo[cor.correction_id]" class="mat-elevation-z8">
                                                    <!-- File Column -->
                                                    <ng-container matColumnDef="file_name">
                                                        <th mat-header-cell *matHeaderCellDef>{{'file'|translate}}</th>
                                                        <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
                                                    </ng-container>
                                                    <!-- Number comments Column -->
                                                    <ng-container matColumnDef="num_comments">
                                                        <th mat-header-cell *matHeaderCellDef> {{'num_comments'|translate}} </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.num_comments}} </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div *ngIf="cor.state===0 || (cor.state!==0 && !correctionsInfo || !correctionsInfo[cor.correction_id] || !correctionsInfo[cor.correction_id].length)">
                                        <span fxFlex></span>
                                        <button mat-mini-fab aria-label="file-document-edit-outline" color="accent" title="{{'edit_correction' | translate}}" *ngIf="cor.state!==2" (click)="changeState(cor.correction_id,cor.state)"  routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':true,'path':sub.path}" queryParamsHandling="merge" >
                                            <mat-icon svgIcon="file-document-edit-outline" class="no-padding-img"></mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="send-submission" color="accent" title="{{'end_correction' | translate}}" *ngIf="cor.state===1" (click)="SendCorrection(cor.correction_id,sub.team_id,sub.submission_id,i)">
                                            <mat-icon svgIcon="send-submission" class="no-padding-img"></mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2" (click)="showPDF(cor.doc_path)">
                                            <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                        </button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div *ngIf="userType==='STUDENT'">
                            <mat-card *ngIf="cor.reviewer_id.toString()===params.user_id">
                                <mat-card-header>
                                    <div class="mat-subheading-2">{{'correction_owner'|translate}} </div>
                                    <span fxFlex></span>
                                    <p class="active_correction" *ngIf="cor.state===0">{{'active_correction'|translate}}</p>
                                    <p class="working_correction" *ngIf="cor.state===1">{{'working_correction'|translate}}</p>
                                    <p class="finished_correction" *ngIf="cor.state===2">{{'finished_correction'|translate}}</p>
                                </mat-card-header>
                                <mat-card-content>
                                    <div *ngIf="cor.state!==0 && correctionsInfo && correctionsInfo[cor.correction_id] && correctionsInfo[cor.correction_id].length">
                                        <div class="row">
                                            <span class="mat-title">{{'state_label'|translate}}</span>
                                            <span fxFlex></span>
                                            <button mat-mini-fab aria-label="file-document-edit-outline" color="accent" title="{{'edit_correction' | translate}}" (click)="changeState(cor.correction_id,cor.state)" *ngIf="cor.state!==2" routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':true,'path':sub.path}" queryParamsHandling="merge" >
                                                <mat-icon svgIcon="file-document-edit-outline" class="no-padding-img"></mat-icon>
                                            </button>
                                            <button mat-mini-fab aria-label="send-submission" color="accent" title="{{'end_correction' | translate}}" *ngIf="cor.state===1" (click)="SendCorrection(cor.correction_id,sub.team_id,sub.submission_id,i)">
                                                <mat-icon svgIcon="send-submission" class="no-padding-img"></mat-icon>
                                            </button>
                                            <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2" (click)="showPDF(cor.doc_path)">
                                                <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    {{'corrections_resume'|translate:countCorrectionsInfo[cor.correction_id]}}
                                                </mat-expansion-panel-header>
                                                <table mat-table [dataSource]="correctionsInfo[cor.correction_id]" class="mat-elevation-z8">
                                                    <!-- File Column -->
                                                    <ng-container matColumnDef="file_name">
                                                        <th mat-header-cell *matHeaderCellDef>{{'file'|translate}}</th>
                                                        <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
                                                    </ng-container>
                                                    <!-- Number comments Column -->
                                                    <ng-container matColumnDef="num_comments">
                                                        <th mat-header-cell *matHeaderCellDef> {{'num_comments'|translate}} </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.num_comments}} </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div *ngIf="cor.state===0 || (cor.state!==0 && !correctionsInfo || !correctionsInfo[cor.correction_id] || !correctionsInfo[cor.correction_id].length)">
                                        <span fxFlex></span>
                                        <button mat-mini-fab aria-label="file-document-edit-outline" color="accent" title="{{'edit_correction' | translate}}" (click)="changeState(cor.correction_id,cor.state)" *ngIf="cor.state!==2" routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':true,'path':sub.path}" queryParamsHandling="merge" >
                                            <mat-icon svgIcon="file-document-edit-outline" class="no-padding-img"></mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="send-submission" color="accent" title="{{'end_correction' | translate}}" *ngIf="cor.state===1" (click)="SendCorrection(cor.correction_id,sub.team_id,sub.submission_id,i)">
                                            <mat-icon svgIcon="send-submission" class="no-padding-img"></mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2" (click)="showPDF(cor.doc_path)">
                                            <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                        </button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <!--Not Owner-->
                    <div *ngIf="userType==='TEACHER'" >
                        <div *ngFor="let cor of corData.corrections[sub.submission_id]; let i = index" [attr.data-index]="i">
                            <mat-card *ngIf="cor.reviewer_id.toString()!==params.user_id">
                                <mat-card-header>
                                    <div class="mat-subheading-2">
                                        {{'correction_peer_review'|translate}}
                                        {{'correction_peer_review_team'|translate:({team_id:cor.team_id})}}:
                                        <span *ngFor="let mem of corData.teamsInfo[cor.team_id]">
                                            <span *ngIf="mem.user_id===cor.reviewer_id">{{mem.name}} {{mem.surnames}}</span>
                                        </span>
                                    </div>
                                    <span fxFlex></span>
                                    <p class="active_correction" *ngIf="cor.state===0">{{'active_correction'|translate}}</p>
                                    <p class="working_correction" *ngIf="cor.state===1">{{'working_correction'|translate}}</p>
                                    <p class="finished_correction" *ngIf="cor.state===2">{{'finished_correction'|translate}}</p>
                                </mat-card-header>
                                <mat-card-content>
                                    <div *ngIf="cor.state!==0 && correctionsInfo && correctionsInfo[cor.correction_id] && correctionsInfo[cor.correction_id].length">
                                        <div class="row">
                                            <span class="mat-title">{{'state_label'|translate}}</span>
                                            <button mat-mini-fab aria-label="file-document-box-search-outline" color="accent" title="{{'show_correction' | translate}}" *ngIf="cor.state!==2" routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':false,'path':sub.path}" queryParamsHandling="merge" >
                                                <mat-icon svgIcon="file-document-box-search-outline" class="no-padding-img"></mat-icon>
                                            </button>
                                            <button mat-mini-fab aria-label="send-submission" color="accent" title="{{'end_correction' | translate}}" *ngIf="userType!=='TEACHER' && cor.state===1" (click)="SendCorrection(cor.correction_id,sub.team_id,sub.submission_id,i)">
                                                <mat-icon svgIcon="send-submission" class="no-padding-img"></mat-icon>
                                            </button>
                                            <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2" (click)="showPDF(cor.doc_path)">
                                                <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    {{'corrections_resume'|translate:countCorrectionsInfo[cor.correction_id]}}
                                                </mat-expansion-panel-header>
                                                <table mat-table [dataSource]="correctionsInfo[cor.correction_id]" class="mat-elevation-z8">
                                                    <!-- File Column -->
                                                    <ng-container matColumnDef="file_name">
                                                        <th mat-header-cell *matHeaderCellDef>{{'file'|translate}}</th>
                                                        <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
                                                    </ng-container>
                                                    <!-- Number comments Column -->
                                                    <ng-container matColumnDef="num_comments">
                                                        <th mat-header-cell *matHeaderCellDef> {{'num_comments'|translate}} </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.num_comments}} </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div *ngIf="cor.state===0 || (cor.state!==0 && !correctionsInfo || !correctionsInfo[cor.correction_id] || !correctionsInfo[cor.correction_id].length)">
                                        <button mat-mini-fab aria-label="file-document-box-search-outline" color="accent" title="{{'show_correction' | translate}}" *ngIf="cor.state!==2" routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':false,'path':sub.path}" queryParamsHandling="merge" >
                                            <mat-icon svgIcon="file-document-box-search-outline" class="no-padding-img"></mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="send-submission" color="accent" title="{{'end_correction' | translate}}" *ngIf="userType!=='TEACHER' && cor.state===1" (click)="SendCorrection(cor.correction_id,sub.team_id,sub.submission_id,i)">
                                            <mat-icon svgIcon="send-submission" class="no-padding-img"></mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2" (click)="showPDF(cor.doc_path)">
                                            <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                        </button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div *ngIf="userType==='STUDENT'">
                        <div *ngFor="let cor of corData.corrections[sub.submission_id]; let i = index" [attr.data-index]="i">
                            <mat-card *ngIf="cor.reviewer_id.toString()!==params.user_id">
                                <mat-card-header>
                                    <div class="mat-subheading-2">
                                        <span *ngIf="cor.team_id!==0">{{'correction_peer_review'|translate}}</span>
                                        <span *ngIf="cor.team_id===0">{{'correction_teacher'|translate}}</span>
                                    </div>
                                    <span fxFlex></span>
                                    <p class="active_correction" *ngIf="cor.state===0">{{'active_correction'|translate}}</p>
                                    <p class="working_correction" *ngIf="cor.state===1">{{'working_correction'|translate}}</p>
                                    <p class="finished_correction" *ngIf="cor.state===2">{{'finished_correction'|translate}}</p>

                                </mat-card-header>
                                <mat-card-content>
                                    <div *ngIf="cor.state!==0 && correctionsInfo && correctionsInfo[cor.correction_id] && correctionsInfo[cor.correction_id].length">
                                        <div class="row">
                                            <span class="mat-title">{{'state_label'|translate}}</span>
                                            <span fxFlex></span>
                                            <button mat-mini-fab aria-label="file-document-box-search-outline" color="accent" title="{{'show_correction' | translate}}" *ngIf="cor.state===1"   routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':false,'path':sub.path}" queryParamsHandling="merge">
                                                <mat-icon svgIcon="file-document-box-search-outline" class="no-padding-img"></mat-icon>
                                            </button>
                                            <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2" (click)="showPDF(cor.doc_path)">
                                                <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    {{'corrections_resume'|translate:countCorrectionsInfo[cor.correction_id]}}
                                                </mat-expansion-panel-header>
                                                <table mat-table [dataSource]="correctionsInfo[cor.correction_id]" class="mat-elevation-z8">
                                                    <!-- File Column -->
                                                    <ng-container matColumnDef="file_name">
                                                        <th mat-header-cell *matHeaderCellDef>{{'file'|translate}}</th>
                                                        <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
                                                    </ng-container>
                                                    <!-- Number comments Column -->
                                                    <ng-container matColumnDef="num_comments">
                                                        <th mat-header-cell *matHeaderCellDef> {{'num_comments'|translate}} </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.num_comments}} </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div *ngIf="cor.state===0 || (cor.state!==0 && !correctionsInfo || !correctionsInfo[cor.correction_id] || !correctionsInfo[cor.correction_id].length)">
                                        <span fxFlex></span>
                                        <button mat-mini-fab aria-label="file-document-box-search-outline" color="accent" title="{{'show_correction' | translate}}" *ngIf="cor.state===1"   routerLink="/codemirror" [queryParams]="{'correctionId':cor.correction_id,'editable':false,'path':sub.path}" queryParamsHandling="merge">
                                            <mat-icon svgIcon="file-document-box-search-outline" class="no-padding-img"></mat-icon>
                                        </button>
                                        <button mat-mini-fab aria-label="pdf-box" color="accent" title="{{'show_pdf_correction' | translate}}" *ngIf="cor.state===2">
                                            <mat-icon svgIcon="pdf-box" class="no-padding-img"></mat-icon>
                                        </button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
