<h2 cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle *ngIf="commentedLine.line_start===commentedLine.line_end">{{'comment_modal_title'|translate:({'start':commentedLine.line_start})}}</h2>
<h2 cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle *ngIf="commentedLine.line_start!==commentedLine.line_end">{{'comment_modal_title_multi'| translate:({'start':commentedLine.line_start,'end':commentedLine.line_end})}}</h2>
<mat-dialog-content>
    <label class="mat-form-field-label" for="messageTextArea">{{'commentary'|translate}}</label>
    <textarea id="messageTextArea" class="form-control" name="message" [(ngModel)]="commentedLine.message" (ngModelChange)="validateCommentData()" [disabled]="!editable"  placeholder="Comenta la corrección"></textarea>
    <label class="mat-form-field-label" for="orCodeEditor">{{'original_code'|translate}}</label>
    <div class="cm-container">
        <ngx-codemirror id="orCodeEditor" name="orCodeEditor" #orCodeEditor [(ngModel)]="commentedLine.original_code" [options]="optionsOrCode"></ngx-codemirror>
    </div>
    <label class="mat-form-field-label" for="modCodeEditor">{{'modified_code'|translate}}</label>
    <div class="cm-container">
        <ngx-codemirror id ="modCodeEditor" name ="modCodeEditor" #modCodeEditor [(ngModel)]="commentedLine.modified_code" [options]="optionsModCode"></ngx-codemirror>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="close('UPDATE')" [hidden]="!editable" [disabled]="saveCommentButton" >{{'save'|translate}}</button>
    <button class="mat-raised-button" (click)="close('DELETE')" [hidden]="!editable" [disabled]="hideDeleteButton" >{{'remove'|translate}}</button>
    <span fxFlex></span>
    <button class="mat-raised-button" (click)="close()">{{'close'|translate}}</button>
</mat-dialog-actions>
