#orCodeEditor{

}
.mat-dialog-container {
  overflow: auto;
  border: 1px solid green!important;
  height: 200px!important;
  color: green;
}
.cm-container{
  height: 180px;
  width: 100%;
}

textarea{
  resize: none;
  width: 100%;
  height: 100px;
}
